.header {
  max-width: 880px;
  margin: 0 auto;
  /* parameters for the header section */
}

.header__logo {
  max-width: 173px;
  margin-top: 45px;
  margin-bottom: 41px;
}

.header__line {
  margin-bottom: 40px;
  max-width: 100%;
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 320px;
  }
  .header__logo {
    margin-top: 28px;
    margin-left: 27px;
    margin-bottom: 32px;
    max-width: 40%;
  }
  .header__line {
    margin-bottom: 42px;
    max-width: 100%;
  }
}
