.popup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
}

.popup_opened {
  display: block;
  opacity: 1;
}

.popup__container {
  max-width: 470px;
  margin: 10% auto;
  display: grid;
  grid-template-areas:
    ". button-close"
    "form .";
}

.popup__container_image {
  max-width: fit-content;
  margin: 90px auto;
  grid-template-areas:
    ". button-close"
    "img ."
    "txt .";
}
.popup__close-button {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  background: none;
  border: none;
  grid-area: button-close;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__form-section {
  width: 430px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  grid-area: form;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__title {
  color: black;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 900;
  word-wrap: break-word;
  text-align: left;
  margin: 0;
  padding-top: 34px;
  padding-left: 36px;
  padding-bottom: 54px;
  line-height: 1;
}

.popup__input {
  width: 358px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px black solid;
  margin: 0 auto 30px;
  padding-bottom: 13px;
  color: black;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  opacity: 0.2;
}

.text-color {
  opacity: 1;
}

.popup__input_type_name {
  color: #000;
  opacity: 1;
}

.popup__input_type_about {
  color: #000;
  opacity: 1;
}

.popup__input_type_error {
  border-bottom: 1px #ff0000 solid;
}

.popup__error_visible {
  opacity: 1;
  font-size: 12px;
  color: red;
  display: flex;
  text-align: left;
  margin: 0 auto 15px;
  width: 362px;
}

.popup__submit-button {
  width: 358px;
  height: 50px;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 18px auto 36.51px;
  padding: 0;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

.popup__button_disabled {
  color: #b8b8b8;
  background: #fff;
  pointer-events: none;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #b8b8b8;
}

.popup__image-large {
  max-width: 75vw;
  max-height: 75vh;
  grid-area: img;
}

.popup__sub-text {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  grid-area: txt;
}

.popup__input_type_error {
  border-bottom-color: red;
  margin-bottom: 0;
  opacity: 1;
}

.popup__formset {
  border: none;
}

.text-color {
  opacity: 1;
}

@media screen and (max-width: 544px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    padding: 0;
  }
  .popup__container {
    width: 308px;
    grid-template-areas:
      ". button-close"
      "form .";
    margin: 123px auto;
  }
  .popup__form-section {
    width: 282px;
    margin: 0;
  }
  .popup__title {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 22px;
    padding-bottom: 76px;
  }
  .popup__input {
    width: 238px;
    margin: 0 auto 9px;
  }
  .popup__submit-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin: 16px auto 25px;
  }
  .popup__container_image {
    max-width: fit-content;
    margin: 136px auto;
    grid-template-areas:
      ". button-close"
      "img ."
      "txt .";
  }
}
