.popup {
  display: none;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup_opened {
  display: block;
}

.popup__container {
  max-width: 470px;
  margin: 195px auto;
  display: grid;
  grid-template-areas:
    ". button-close"
    "form .";
}
.popup__close-button {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  background: none;
  border: none;
  grid-area: button-close;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__form-section {
  width: 430px;
  text-align: center;
  grid-area: form;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__title {
  color: black;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 900;
  word-wrap: break-word;
  text-align: left;
  margin: 34px auto 54px;
}

.form__input {
  width: 100%;
  border: none;
}

.popup__line {
  margin-bottom: 30px;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #000;
}

.popup__submit-button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.popup__submit-button:hover {
  opacity: 0.8;
}
